* {
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    overflow: hidden;
    width: 70%;
    margin: 2rem auto;
    background: gainsboro;
    
}


.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}